.dashboard {
  text-align: center;
  margin-top: 60px;
}

.dashboard h1 {
  font-size: 26px;
  color: #333;
}

.dashboard p {
  color: #555;
}

.dashboard-actions {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.dash-btn {
  background: #0d6efd;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  transition: background 0.3s;
}

.dash-btn:hover {
  background: #0b5ed7;
}
