.welcome-container {
  text-align: center;
  margin-top: 100px;
}

.welcome-container h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.welcome-container p {
  font-size: 16px;
  color: #555;
}

.welcome-actions {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.welcome-btn {
  background: #0d6efd;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.welcome-btn:hover {
  background: #0b5ed7;
}
